#app {
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  color: $grey-color;
}
a, a:hover {
  text-decoration: none;
  color: inherit;
}
p {
  margin: 0px;
  padding: 0px;
}
