//Titulos
h1, h2, h3 {
  @extend %catamaran-font-bold;
  color: $primary-color;
}
h1 {
  font-size: 55px;
  line-height: 50px;
}
h2 {
  font-size: 45px;
  line-height: 45px;
}
h3 {
  font-size: 30px;
  line-height: 45px;
}
h4 {
  @extend %h4
}

.titulo-gris {
  font-size: 22px;
  @extend %catamaran-font-bold;
  color: $grey-color;
  line-height: 45px;
}
.pre-titulo {
  @extend %catamaran-font-bold;
  font-size: 12px;
  line-height: 40px;
  color: $grey-color;
}
.white-pre-titulo {
  @extend %catamaran-font-medium;
  color: $white-color;
  line-height: 45px;
  text-transform: uppercase;
  font-size: 35px;
}
.green-pre-titulo {
  @extend %catamaran-font-bold;
  font-size: 12px;
  color: $primary-color;
  line-height: 15px;
}
.little-sub {
  color: $primary-color;
  @extend %catamaran-font-semibold;
  font-size: 14px;
  line-height: 35px;
  text-transform: uppercase;
}
.subtittle {
  @extend %catamaran-font-light;
  font-size: 26px;
  color: $white-color;
  line-height: 35px;
}
.white-subtittle {
  @extend %catamaran-font-bold;
  color: $white-color;
  font-size: 35px;
  line-height: 35px;
}
.footer-tittle {
  @extend %h4;
  color: $primary-color;
}

//Parrafos
p {
  @extend %catamaran-font-medium;
  font-size: 20px;
  color: $grey-color;
  line-height: 30px;
}
.medium-p {
  @extend %catamaran-font-medium;
  font-size: 18px;
  color: $grey-color;
  line-height: 24px;
}
.italic {
  font-style: itlaic;
  @extend %h4;
}
.little-p {
  @extend %little-p;
  color: $grey-color;
}
.little-p-white {
  @extend %little-p;
  color: $white-color;
  line-height: 18px;
}
.footer-p {
  @extend %little-p;
  font-size: 14px;
}
//Navbar
.nav-text {
  @extend %catamaran-font-medium;
  color: $grey-color;
  font-size: 16px;
}
.pre-navbar {
  @extend %catamaran-font-medium;
  color: $white-color;
  font-size: 15px;
}
.pre-pre-navbar {
  @extend %catamaran-font-semibold;
  color: $white-color;
  font-size: 14px;
}

//Buttons
.btn-text {
  @extend %catamaran-font-medium;
  font-size: 15px;
  line-height: 35px;
}