//Titulos
h1, h2, h3 {
  @extend %raleway-font-bold;
  color: $primary-color;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 28px;
}
h4 {
  @extend %h4
}

.titulo-gris {
  font-size: 30px;
  @extend %raleway-font-bold;
  @include changecolor;
}
.pre-titulo {
  @extend %little-p;
  @include uppercaser
}
.little-sub {
  color: $primary-color;
  @extend %raleway-font-bold;
  font-size: 13px;
  line-height: 27px;
}
.subtittle {
  @extend %raleway-font-light;
  font-size: 26px;
  color: $white-color;
  line-height: 35px;
}
.footer-tittle {
  @extend %h4;
  color: $primary-color;
}

//Parrafos
p {
  @extend %raleway-font-medium;
  font-size: 20px;
  color: $grey-color;
  line-height: 30px;
}
.medium-p {
  @extend %raleway-font-medium;
  font-size: 18px;
  color: $grey-color;
  line-height: 27px;
}
.italic {
  font-style: itlaic;
  @extend %h4;
}
.little-p {
  @extend %little-p;
  color: $white-color
}
.footer-p {
  @extend %little-p;
  font-size: 14px;
}
//Navbar
.nav-text {
  @extend %raleway-font-medium;
  color: $black-color;
  font-size: 16px;
}
.pre-navbar {
  @extend %opensans-font-medium;
  color: $white-color;
}
.pre-pre-navbar {
  @extend %opensans-font-bold;
  color: $white-color;
}

//Buttons
.btn-text {
  @extend %raleway-font-btn;
  font-size: 15px;
  line-height: 35px;
}