.grey-bg-tittle {
  background-color: $grey-color;
  height: 241px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
}
.caract-icono{
  margin-bottom: 20px;
}
.main-sec {
  padding-top: 50px;
}