.green-bg {
  background-color: $primary-color;
  height: 182px;
}
.grey-bg {
  background-color: $grey-color;
  margin-top: -178px;
  padding-top: 178px;
  padding-bottom:  100px;
}
.footer-card {
  width: 561px;
  height: 202px;
  margin: 78px 12px;
  
}
.card {
  padding: 35px ;
}
.card-body {
  padding: 0px;
  display: flex;
  align-items: center;
}
.footer-p {
  @extend %catamaran-font-medium;
  font-size: 20px;
  line-height: 27px;
}
.little-logo {
  width: 134px;
}