#simplificamos {
  padding-top: 48px;
  padding-bottom: 48px;
  .little-p {
    line-height: 22px;
    margin-right: 32px;
  }
}
.contenido1 {
  padding: 48px;
  @media (max-width: $desktop-width) {
    padding: 48px 24px;
  }
}