.diagram {
  position: relative;
  z-index: 1;
  margin-top: 48px;
  margin-bottom: 48px;
}
.dotted-line {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 10;
  hr {
    //margin: 62px 134px;
    border: none;
    border-top: 1px dashed $grey-color;
    height: 1px;
    opacity: 1;
    margin-right: 140px;
    margin-left: 140px;
    @media (max-width: $desktop-width) {
      display: none;
    }
  }
}
.numero {
  @media (max-width: $desktop-width) {
    display: none;
  }
}
.step-cont {
  @media (max-width: $desktop-width) {
    display: flex;
    justify-content: center;
  }
}
