.orange-btn-primary {
  @extend %button-color;
  @extend %catamaran-font-medium;
  &:hover {
    @include changebuttoncolor;
  }
  padding: 5px 20px;
  line-height: 35px;
  &:active, &:focus {
    color: $orange-btn;
  }
}

.white-btn-primary {
  @include changebuttoncolor;
  @extend %catamaran-font-medium;
  &:hover {
    color: $white-color;
    background-color: $orange-btn;
    border-color: transparent;
  }
  padding: 5px 20px;
  line-height: 35px;
}

button {
  margin-right: 8px;
  margin-left: 8px;
}
.play-btn {
  margin: 32px 0px;
}
.play-icon {
  padding-right: 10px;
}