.bgc-green {
  background-color: $primary-color;
  color: $white-color;
  a {
    text-decoration: underline;
  }  
}
.bgc-grey {
  background-color: $grey-color;
  color: $white-color;
  a {
    color: $primary-color;
  }
}
.navbar-logo {
  width: 162px;
}
.nav-item {
  a {
    margin-left: 6px;
    margin-right: 6px;
  }
  @media (max-width: $big-tablet-width){
    a {
      color: $white-color;
    }
    
  }
}
.nav-link.router-link-active,  .my-active-class{
  color: $primary-color;
  font-weight: 700;
}
.dropdown-item.router-link-active{
  color: $orange-btn;
}
.dropdown-item:hover, .dropdown-item:focus {
  background-color: transparent;
}
@media (max-width: $big-tablet-width){
  .btn-nav {
    margin-top: 10px;
    width: 50%;
  }
  .dropdown-item {
    text-align: center;
  }
  #navbarNavDropdown.offcanvas {
    padding-top: 100px;
  }
}
#navbarNavDropdown.offcanvas {
  background-color: rgba(0, 0, 0, 0.3);
  color: $white-color;
}

.btn-close-white {
  text-align: right;
}
