.bgc-green {
  background-color: $primary-color;
  color: $white-color;
  a {
    text-decoration: underline;
  }  
}
.bgc-grey {
  background-color: $grey-color;
  color: $white-color;
  a {
    color: $primary-color;
  }
}
.navbar-logo {
  width: 162px;
}
.nav-item {
  a {
    margin-left: 6px;
    margin-right: 6px;
  }
}
