@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300;400;500;700;800&family=Open+Sans:wght@400;700&display=swap');

//COLORES
$white-color: #fff;
$black-color: #000;
$grey-color: #556170;
$primary-color: #C9DC00;
$orange-btn: #FF5E2B;


//FONTS
$catamaran-font: 'Catamaran', sans-serif;
$opensans-font: 'Open Sans', sans-serif;




//RESPONSIVE
$tablet-width: 768px;
$phone-width: 480px;
$desktop-width: 1024px;


