.btn-plans {
  margin-top: 48px;
  .col {
    border: 1px solid #D9D9D9;
    padding: 20px;
    display: grid;
    align-items: center;
  }
  a {
    @extend %catamaran-font-bold;
    font-size: 18px;
    color: $grey-color;
  }
}
.grey-line {
  color: $grey-color;
}
.active-link {
  background-color: $primary-color;
  color: $white-color;
  border: transparent;
}
.green-check {
  padding-right: 0.6em;
  padding-left: 0.4em;
}
.desk-price {
  padding-top: 100px;
  padding-bottom: 60px;
}
.price-card, .card-body {
  padding: 0px;
}
.price-card .card-header {
  background-color: $primary-color;
  color: $white-color;
  text-align: center;
  @extend %catamaran-font-bold;
  font-size: 25px;
  text-transform: capitalize;
  padding: 20px;
}
.price-card {
  min-height: 1236.5px;
}
.caract-cont {
  padding-left: 25px;
}
.mail-link {
  text-decoration: underline;
  color: $primary-color;
}