@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300;400;500;700;800&family=Open+Sans:wght@400;700&display=swap");
.white-subtittle, .green-pre-titulo, .pre-titulo, .titulo-gris, h1, h2, h3, .italic, .footer-tittle, h4 {
  font-family: "Catamaran", sans-serif;
  font-weight: 800;
}

.pre-pre-navbar, .little-sub {
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
}

.white-btn-primary, .btn-primary, .btn-text, .pre-navbar, .nav-text, .medium-p, p, .white-pre-titulo, .footer-p, .little-p-white, .little-p {
  font-family: "Catamaran", sans-serif;
  font-weight: 400;
}

.subtittle {
  font-family: "Catamaran", sans-serif;
  font-weight: 300;
}

.italic, .footer-tittle, h4 {
  color: #556170;
  font-size: 18px;
  line-height: 27px;
}

.footer-p, .little-p-white, .little-p {
  font-size: 15px;
}

.btn-primary {
  color: #fff;
  background-color: #FF5E2B;
  border-color: transparent;
}

.window-header-2, .window-header-1 {
  position: absolute;
  z-index: 1;
}

#app {
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  color: #556170;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0px;
  padding: 0px;
}

h1, h2, h3 {
  color: #C9DC00;
}

h1 {
  font-size: 55px;
  line-height: 50px;
}

h2 {
  font-size: 45px;
  line-height: 45px;
}

h3 {
  font-size: 30px;
  line-height: 45px;
}

.titulo-gris {
  font-size: 22px;
  color: #556170;
  line-height: 45px;
}

.pre-titulo {
  font-size: 12px;
  line-height: 40px;
  color: #556170;
}

.white-pre-titulo {
  color: #fff;
  line-height: 45px;
  text-transform: uppercase;
  font-size: 35px;
}

.green-pre-titulo {
  font-size: 12px;
  color: #C9DC00;
  line-height: 15px;
}

.little-sub {
  color: #C9DC00;
  font-size: 14px;
  line-height: 35px;
  text-transform: uppercase;
}

.subtittle {
  font-size: 26px;
  color: #fff;
  line-height: 35px;
}

.white-subtittle {
  color: #fff;
  font-size: 35px;
  line-height: 35px;
}

.footer-tittle {
  color: #C9DC00;
}

p {
  font-size: 20px;
  color: #556170;
  line-height: 30px;
}

.medium-p {
  font-size: 18px;
  color: #556170;
  line-height: 24px;
}

.italic {
  font-style: itlaic;
}

.little-p {
  color: #556170;
}

.little-p-white {
  color: #fff;
  line-height: 18px;
}

.footer-p {
  font-size: 14px;
}

.nav-text {
  color: #556170;
  font-size: 16px;
}

.pre-navbar {
  color: #fff;
  font-size: 15px;
}

.pre-pre-navbar {
  color: #fff;
  font-size: 14px;
}

.btn-text {
  font-size: 15px;
  line-height: 35px;
}

.bgc-green {
  background-color: #C9DC00;
  color: #fff;
}
.bgc-green a {
  text-decoration: underline;
}

.bgc-grey {
  background-color: #556170;
  color: #fff;
}
.bgc-grey a {
  color: #C9DC00;
}

.navbar-logo {
  width: 162px;
}

.nav-item a {
  margin-left: 6px;
  margin-right: 6px;
}

.btn-primary:hover {
  background-color: #fff;
  border-color: #FF5E2B;
  color: #FF5E2B;
}

.white-btn-primary {
  background-color: #fff;
  border-color: #FF5E2B;
  color: #FF5E2B;
}
.white-btn-primary:hover {
  color: #fff;
  background-color: #FF5E2B;
  border-color: transparent;
}

button {
  margin-right: 8px;
  margin-left: 8px;
}

.play-btn {
  margin: 32px 0px;
}

.play-icon {
  padding-right: 10px;
}

.bg-header {
  background: radial-gradient(500.05% 52.41% at 61.75% 88.6%, rgba(85, 97, 112, 0.7) 0%, #556170 100%);
  height: 858px;
  position: relative;
}

header {
  height: 858px;
}
header h1 {
  padding-top: 14px;
}
header .subtittle {
  margin-right: 20%;
}

.green-box {
  margin-top: 124px;
  border-radius: 30px;
  border: 1px solid #C9DC00;
  width: 177px;
  text-align: center;
}

.border-right {
  border-right: 2px solid #C9DC00;
}

.hombre {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: -75px;
}

.window-header-1 {
  bottom: 40%;
  right: 40%;
}
.window-header-1 img {
  width: 237px;
}

.window-header-1 {
  bottom: 40%;
  right: 40%;
}
.window-header-1 img {
  width: 237px;
}

.window-header-2 {
  bottom: 25%;
  right: 8%;
}
.window-header-2 img {
  width: 167px;
}

/*# sourceMappingURL=style.css.map */
