@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300;400;500;700;800&family=Open+Sans:wght@400;700&display=swap");
h4, .footer-tittle, .italic, h1, h2, h3, .titulo-gris, .pre-titulo, .green-pre-titulo, .white-subtittle, .titulo-gris-footer {
  font-family: "Catamaran", sans-serif;
  font-weight: 800;
}

.little-sub, .pre-pre-navbar, .footer-tittle, .footer-tittle-mini {
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
}

.little-p, .little-p-white, .footer-p, .white-pre-titulo, .subtittle-caract, p, .medium-p, .medium-p-white, .nav-text, .pre-navbar, .btn-text, .btn-primary, .white-btn-primary {
  font-family: "Catamaran", sans-serif;
  font-weight: 400;
}

.subtittle {
  font-family: "Catamaran", sans-serif;
  font-weight: 300;
}

h4, .footer-tittle, .italic {
  color: #556170;
  font-size: 18px;
  line-height: 27px;
}

.little-p, .little-p-white, .footer-p {
  font-size: 15px;
}

.btn-primary {
  color: #fff;
  background-color: #FF5E2B;
  border-color: transparent;
}

.window-header-1, .window-header-2 {
  position: absolute;
  z-index: 1;
}

#app {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  color: #556170;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0px;
  padding: 0px;
}

h1, h2, h3 {
  color: #C9DC00;
}

h1 {
  font-size: 55px;
  line-height: 50px;
}

h2 {
  font-size: 45px;
  line-height: 45px;
}

h3 {
  font-size: 30px;
  line-height: 45px;
}

.titulo-gris {
  font-size: 22px;
  color: #556170;
  line-height: 45px;
}

.pre-titulo {
  font-size: 14px;
  line-height: 40px;
  color: #556170;
}

.white-pre-titulo {
  color: #fff;
  line-height: 45px;
  text-transform: uppercase;
  font-size: 35px;
}

.green-pre-titulo {
  font-size: 14px;
  color: #C9DC00;
  line-height: 15px;
}

.little-sub {
  color: #C9DC00;
  font-size: 14px;
  line-height: 35px;
  text-transform: uppercase;
}

.subtittle {
  font-size: 26px;
  color: #fff;
  line-height: 35px;
}

.white-subtittle {
  color: #fff;
  font-size: 35px;
  line-height: 35px;
}

.footer-tittle {
  color: #C9DC00;
}

.titulo-gris-footer {
  font-size: 30px;
  color: #556170;
  line-height: 35px;
}

.subtittle-caract {
  color: #556170;
  font-size: 25px;
  line-height: 24px;
}

p {
  font-size: 20px;
  color: #556170;
  line-height: 30px;
}

.medium-p {
  font-size: 18px;
  color: #556170;
  line-height: 24px;
}

.medium-p-white {
  font-size: 18px;
  color: #fff;
  line-height: 24px;
}

.italic {
  font-style: itlaic;
}

.little-p {
  color: #556170;
}

.little-p-white {
  color: #fff;
  line-height: 18px;
}

.footer-p {
  font-size: 14px;
}

.nav-text {
  color: #556170;
  font-size: 16px;
}

.pre-navbar {
  color: #fff;
  font-size: 15px;
}

@media (max-width: 576px) {
  .pre-navbar {
    font-size: 12px;
  }
}

.pre-pre-navbar {
  color: #fff;
  font-size: 14px;
}

@media (max-width: 576px) {
  .pre-pre-navbar {
    font-size: 10px;
  }
}

.btn-text {
  font-size: 15px;
  line-height: 35px;
}

.footer-tittle {
  font-size: 18px;
  line-height: 27px;
  /* 150% */
  color: #C9DC00;
}

.footer-tittle-mini {
  font-size: 14px;
  line-height: 27px;
  /* 150% */
  color: #C9DC00;
}

.bgc-green {
  background-color: #C9DC00;
  color: #fff;
}

.bgc-green a {
  text-decoration: underline;
}

.bgc-grey {
  background-color: #556170;
  color: #fff;
}

.bgc-grey a {
  color: #C9DC00;
}

.navbar-logo {
  width: 162px;
}

.nav-item a {
  margin-left: 6px;
  margin-right: 6px;
}

.nav-link.router-link-active, .my-active-class {
  color: #C9DC00;
  font-weight: 700;
}

.dropdown-item.router-link-active {
  color: #FF5E2B;
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: transparent;
}

.btn-primary {
  padding: 5px 20px;
  line-height: 35px;
}

.btn-primary:hover {
  background-color: #fff;
  border-color: #FF5E2B;
  color: #FF5E2B;
}

.white-btn-primary {
  background-color: #fff;
  border-color: #FF5E2B;
  color: #FF5E2B;
  padding: 5px 20px;
  line-height: 35px;
}

.white-btn-primary:hover {
  color: #fff;
  background-color: #FF5E2B;
  border-color: transparent;
}

button {
  margin-right: 8px;
  margin-left: 8px;
}

.play-btn {
  margin: 32px 0px;
}

.play-icon {
  padding-right: 10px;
}

.icono-pasos {
  width: 60px;
}

.step-cont .card {
  min-height: 327px;
}

.card {
  padding: 43px 16px;
  margin: 0px 16px 32px;
  border-radius: 20px;
  border: 1px solid rgba(85, 97, 112, 0.2);
  background: #FFF;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.numero {
  padding-bottom: 35px;
}

.grey-bg-tittle {
  background-color: #556170;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
  padding: 80px 0px;
}

.caract-icono {
  margin-bottom: 20px;
}

.main-sec {
  padding: 50px 0px 0px;
}

.hr-caract {
  border: 2px solid #556170;
  border-radius: 2px;
  width: 14px;
  opacity: 1;
}

.hr-caract.der {
  display: inline-block;
}

.main-ventas {
  padding: 100px 0px;
}

.main-ventas .row {
  padding-bottom: 100px;
}

.main-ventas h2 {
  font-size: 35px;
}

.main-ventas .col-xl-6.order-2 {
  padding-left: 135px;
}

.main-ventas .izq {
  padding-right: 135px;
}

.grey-sec {
  background-color: rgba(201, 209, 218, 0.2);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0px;
}

.grey-sec .card {
  min-height: 300px;
  padding: 16px;
}

.bg-header {
  background: radial-gradient(500.05% 52.41% at 61.75% 88.6%, rgba(85, 97, 112, 0.7) 0%, #556170 100%);
  height: 858px;
  position: relative;
}

header {
  height: 858px;
}

header h1 {
  padding-top: 14px;
}

header .subtittle {
  margin-right: 20%;
}

.green-box {
  margin-top: 124px;
  border-radius: 30px;
  border: 1px solid #C9DC00;
  width: 177px;
  text-align: center;
}

.border-right {
  border-right: 2px solid #C9DC00;
}

.hombre {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: -75px;
}

@media (max-width: 1200px) {
  .hombre {
    margin-right: -150px;
  }
}

.window-header-1 {
  bottom: 40%;
  right: 40%;
}

.window-header-1 img {
  width: 237px;
}

.window-header-1 {
  bottom: 40%;
  right: 40%;
}

.window-header-1 img {
  width: 237px;
}

.window-header-2 {
  bottom: 25%;
  right: 8%;
}

.window-header-2 img {
  width: 167px;
}

#simplificamos {
  padding-top: 48px;
  padding-bottom: 48px;
}

#simplificamos .little-p {
  line-height: 22px;
  margin-right: 32px;
}

.contenido1 {
  padding: 48px 78px 48px 48px;
}

.diagram {
  position: relative;
  z-index: 1;
  margin-top: 48px;
  margin-bottom: 48px;
}

.dotted-line {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 10;
}

.dotted-line hr {
  border: none;
  border-top: 1px dashed #556170;
  height: 1px;
  opacity: 1;
  margin-right: 140px;
  margin-left: 140px;
}

@media (max-width: 1200px) {
  .dotted-line hr {
    display: none;
  }
}

@media (max-width: 1200px) {
  .numero {
    display: none;
  }
}

@media (max-width: 1200px) {
  .step-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.bg-mapa {
  background: radial-gradient(500.05% 52.41% at 61.75% 88.6%, rgba(85, 97, 112, 0.7) 0%, #556170 100%);
  mix-blend-mode: multiply;
  min-height: 1052px;
  margin-top: -250px;
  padding-top: 250px;
}

.box-text-map {
  padding: 100px;
}

@media (max-width: 1200px) {
  .box-text-map {
    padding: 100px 48px;
  }
}

.green-bg {
  background-color: #C9DC00;
  height: 30vh;
}

@media (max-width: 1200px) {
  .green-bg {
    height: 80vh;
  }
}

.grey-bg {
  background-color: #556170;
  margin-top: -178px;
  padding-top: 178px;
  padding-bottom: 100px;
}

@media (max-width: 1200px) {
  .grey-bg {
    margin-top: -100px;
  }
}

.footer-card {
  width: 90%;
  height: 202px;
  margin: 78px 0px 78px 0px;
  padding: 35px;
}

.footer-card .card-body {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  .footer-card {
    width: 60%;
    margin: 32px 0px;
  }
}

@media (max-width: 992px) {
  .footer-card {
    width: 80%;
    margin: 32px 0px;
  }
}

@media (max-width: 768px) {
  .footer-card {
    width: 80%;
    margin: 32px 0px;
    padding: 24px;
  }
  .footer-card .card-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-p {
  font-size: 20px;
  line-height: 27px;
}

.little-logo {
  width: 134px;
}

.footer-line {
  border: none;
  border-top: 1px solid #fff;
  height: 1px;
  opacity: 1;
}

.first-col {
  padding-right: 100px;
}

@media (max-width: 1200px) {
  .first-col {
    padding-right: 12px;
  }
}

.sec-col {
  padding-right: 30px;
}

@media (max-width: 1200px) {
  .sec-col {
    padding-right: 12px;
  }
}

.trd-col {
  padding-left: 20px;
}

@media (max-width: 1200px) {
  .trd-col {
    padding-left: 12px;
  }
}

.last-col {
  padding-left: 100px;
}

@media (max-width: 1200px) {
  .last-col {
    padding-left: 12px;
  }
}

.footer-icon {
  padding: 5px;
}

@media (max-width: 1200px) {
  .footer-icon {
    padding-bottom: 50px;
  }
}
/*# sourceMappingURL=style.css.map */